<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeEnigma | Configuration </title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/loader.css">
    <link rel="stylesheet" href="/stylesheets/loaders.css">

  </head>
  <body onload="myFunction()">
  <!-- <body> -->
  <div id="loaderContainer">
    <div class="loader"><div class="ball-grid-pulse"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
  </div>
  <script>
  function myFunction() {
    var myVar = setTimeout(showPage, 1000);
  }

  function showPage()
  {
    // console.log("Hide Loader and show page");
    // $(".loader").hide();
    $("#loaderContainer").hide();
    $(".container-fluid").show();
    // $("#main-content").show();
  }
  </script>

    <div class="container-fluid" style="height:100%;">
      <div class="row" id="main-content">
        <div class="col-md-3" id="left-col">
          <!-- <img src="Logo.jpg" alt="CodeEnigma Logo" id="logo"> -->
          <img src="../Logo.jpg" alt="CodeEnigma Logo" id="logo">
          <br>
          <br>
          <p id="status">Competition ends in</p>
          <p id="timer">Competition Ended</p>
          <p id="rank">Rank</p>
          <!-- <p id="points">(157 Points)</p> -->
          <p id="points">(<%= user.score %> Points)</p>


          <hr class="myHRTop"><br>
          <ul id="nav">
            <!-- On click of these show a modal -> Competition has ended. -->
            <!-- <li><a href="#">EASY (5 Points)</a></li>
            <li><a href="#">MEDIUM (15 Points)</a></li>
            <li><a href="#">HARD (25 Points)</a></li> -->
            <li><a href="/CodeEnigma/easy">EASY (5 Points)</a></li>
            <li><a href="/CodeEnigma/medium">MEDIUM (15 Points)</a></li>
            <li><a href="/CodeEnigma/hard">HARD (25 Points)</a></li>
            <!-- <a href="/CodeEnigma/hard" means totally new link  -->
            <!-- <a href="hard" means change last subroute of current route  -->
            <br><hr class="myHRBottom">
            <li id="instructions"><a href="/CodeEnigma/instructions">INSTRUCTIONS</a></li>
            <li><a href="/CodeEnigma/results">RESULTS</a></li>
            <% if(user.type=='admin'){ %>
            <li><a href="/config" class="active">CONFIGURATION</a></li>
            <li><a href="/insert">INSERTION</a></li>
            <% } %>
          </ul>
        </div>
        <div class="col-md-9" id="right-col">
          <!-- <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
  <p class="navbar-text">Some text</p>
</nav> -->
          <div class="row" id="right-col-header">
            <div class="col-md-3">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            AdminId : <%= user.id %></div>
            <!-- <div class="col-md-1"> C | C++ | Java </div> -->
            <div class="col-md-7" style="text-align:center">
            </div>
            <!-- <div class="col-md-2">
              <p id="rank2">#113/147</p>
            </div>
            <div class="col-md-1">
              <p id="points2">(95 Points)</p>
            </div> -->
            <div class="col-md-2" style="text-align:right">

              <a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a>
              <!-- <button id="submitButton" type = "button" class = "btn btn-success">Logout</button> -->
            </div>
          </div>

          <div id="currentTime">
            <%= Date() %>
          </div>
          <div class="row" id="right-col-body">
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">Start Date</div>
                <div class="col-md-5" style="margin:10px;">
                  <%= contest.startDate %>
                </div>
                <div class="col-md-2"></div>
              <!-- </div> -->
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">Duration</div>
                <div class="col-md-5" style="margin:10px;">
                  <%= duration %>
                </div>
                <div class="col-md-2"></div>
                <!-- </div> -->
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">End Date</div>
                <div class="col-md-5" style="margin:10px;">
                  <%= contest.endDate %>
                </div>
                <div class="col-md-2"></div>
              <!-- </div> -->
          </div>
          <hr>
          <div class="row" id="right-col-body">
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">Start Date</div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="startDate" name="startDate" placeholder="startDate" required="" autofocus="" />
                </div>
                <div class="col-md-2"></div>
              <!-- </div> -->
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">Duration</div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="duration" name="duration" placeholder="duration" required="" autofocus="" disabled/>
                </div>
                <div class="col-md-2"></div>
                <!-- </div> -->
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">End Date</div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="endDate" name="endDate" placeholder="endDate" required="" autofocus="" />
                </div>
                <div class="col-md-2"></div>
              <!-- </div> -->
          </div>
          <button id="submitButton" type = "button" class = "btn btn-success">SUBMIT</button>

          <div class="row" id="right-col-body">
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">Start Id</div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="startId" name="startId" placeholder="startId" required="" autofocus="" />
                </div>
                <div class="col-md-2"></div>
              <!-- </div> -->
              <!-- <div class="row"> -->
                <div class="col-md-1"></div>
                <div class="col-md-3" style="margin:10px;">End Id</div>
                <div class="col-md-5">
                  <input type="text" class="form-control" id="endId" name="endId" placeholder="endId" required="" autofocus="" />
                </div>
                <div class="col-md-2"></div>
              <!-- </div> -->
          </div>
          <button id="submitButton2" type = "button" class = "btn btn-success">SUBMIT</button>



        </div>
      </div>
  </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/config.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <script src='/javascripts/timer.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!-- <script src='/javascripts/live.js'></script> -->
    <!-- <script src='/javascripts/results.js'></script> -->
    <script src='/javascripts/insert.js'></script>
  </body>
</html>
