<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>CodeEnigma | <%= difficulty.charAt(0).toUpperCase() + difficulty.slice(1) %> | <%= id %> </title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
        <link rel='stylesheet' href='/stylesheets/nprogress.css'/>
        <link rel="stylesheet" href="/stylesheets/loader.css">
        <link rel="stylesheet" href="/stylesheets/loaders.css">

    </head>
    <body onload="myFunction()">
    <!-- <body> -->
    <div id="loaderContainer">
      <div class="loader"><div class="ball-grid-pulse"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    </div>
    <script>
    function myFunction() {
      var myVar = setTimeout(showPage, 1000);
    }

    function showPage()
    {
      // console.log("Hide Loader and show page");
      // $(".loader").hide();
      $("#loaderContainer").hide();
      $(".container-fluid").show();
      // $("#main-content").show();
    }
    </script>

        <div class="container-fluid">
            <!-- HEADER -->
            <div class="row" id="header">
                <div class="col-md-5">

                    <ul>
                      <li><img src="/Back3.png" alt="Back" onclick="window.location = '../'"></li>
<!--
                      <%# questions.forEach(function(question){ %>
                        <%# if(id==question.id){ %>  <!- -To Prevent from reloading the same page.- ->
                          <li><button type="button" class="btn btn-circle active"><%#= question.id %></button></li>
                        <%# }else if(lang!=""){ %>
                          <li><button type="button" class="btn btn-circle" onclick="window.location ='../<%#= question.id %>/<%#= lang %>'"><%#= question.id %></button></li>
                        <%# }else{ %>
                          <li><button type="button" class="btn btn-circle" onclick="window.location ='<%#= question.id %>'"><%#= question.id %></button></li>
                        <%# }}); %>
 -->

 <!-- WHEN USER's DATABASE IS ACTIVE: -->
                        <% questions.forEach(function(question){ %>

                          <% if(id==question.id){ %>
                            <li><button type="button" class="btn btn-circle active" id="activeButton">
                          <% }else if(lang!=""){ %>
                            <li><button type="button" class="btn btn-circle" onclick="window.location ='../<%= question.id %>/<%= user.defaultLanguage %>'">
                          <% } %>

                          <% if(user.solvedQuestions[difficulty].indexOf(question.id)!=-1 ) { %>
                            ✓</button></li>
                          <% }else{ %>
                            <%= question.id %></button></li>
                          <% } %>

                        <% }); %>




                        <!-- Instead of using buttons use anchor tags and add href for ip:port/... -->


                      <!-- <li><button type="button" class="btn btn-circle">✓</button></li> -->
                      <!-- <li><button type="button" class="btn btn-circle"><span class="badge">✓</span></button></li> -->
                    <ul>
                </div>
                <div class="col-md-2">
                  <% if(difficulty=='easy'){ %>
                    EASY (5 Points Each)
                  <% } else if(difficulty=='medium'){ %>
                    MEDIUM (15 Points Each)
                  <% } else if(difficulty=='hard'){ %>
                    HARD (25 Points Each)
                  <% } %>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-1">
                  <p id="timer">Time Remaining</p>
                </div>
                <div class="col-md-1">
                  <p id="rank">Rank</p>
                </div>
                <div class="col-md-1">
                  <p id="points">(<%= user.score %> Points)</p>
                </div>
            </div>

            <!-- MAIN-CONTENT -->
            <div class="row" id="main-content">

                <div class="col-md-6" id="left-col">




<div id="left-col-header" class="row">
<ul>
			<li id="tabD" class="active" onclick="changeTab('Description')">
        Description
			</li>
      <li id="tabR" class="" onclick="changeTab('TestResults')">
        Test Results
			</li>
</ul>
</div>


<div class="row" id="left-col-body-description">
  <div class ="col-md-12">
    <span id="span">
<%- questions[index].description %>
  </span>
  </div>
</div>

<!-- left-col-body-test-results -->
<div class="row" id="left-col-body-test-results">
  <div class ="col-md-12">

    <!-- <div class="pHead">
      ✓  Testcase 1
    </div>
    <div class="pBody">
      <table>
        <tr>
          <td>Input</td>
          <td>Output</td>
          <td>Expected</td>
        </tr>
        <tr>
          <td><pre class="code">1234545464654654d64654654d64654654d64654654das
          asdasd
        address</pre></td>
          <td><pre class="code">12345</pre></td>
          <td><pre class="code">12345</pre></td>
        </tr>
      </table>
    </div> -->

    <!-- <img src="/bot2C.jpg" style="width:70%;"> You haven't gave me instructions to test! Hit RUN or SUBMIT. -->

    <!-- <div class="pHead"> &nbsp ✓ &nbsp&nbsp Overall Result</div> -->
    <div class="pHead"> &nbsp No Testcases Ran</div>
    <div class="pBody">
      <table>
        <tr>
          <td style="width:20%;">Input</td>
          <td class="input" style="width:80%;"><pre class="code" id="input">Inputs Comes Here</pre></td>
        </tr>
        <tr>
          <td style="width:20%;">Output</td>
          <td class="output" style="width:80%;"><pre class="code" style="max-height:50vh;" id="output">User's Output Comes Here</pre></td>
        </tr>
        <tr id="expectedRow">
          <td style="width:20%;">Expected</td>
          <td class="expected" style="width:80%;"><pre class="code" id="expected">Expected Output Comes Here</pre></td>
        </tr>
      </table>
    </div>

    <h6>Note:</h6>
    <p>If you think your answer is correct but the checker is showing wrong answer, then chances are there are some missing or extra newline characters ('\n') in the output.<BR>For Example : "Output" and "Output\n" are cosidered different outputs.</p>



    <!-- <hr>
    NOTE : This is totally experimental, don't compeletely rely on these results. Check the Input/Output for surity.
<%# questions.forEach(function(question){ %>
<%# for(var i=0; i<questions[id.charCodeAt(0)-65].inputs.length; i++ ){ %>
    <div class="pHead"> &nbsp ✘ &nbsp&nbsp Testcase <%#= i+1 %></div>
    <div class="pBody">
      <table>
        <tr>
          <td style="width:20%;">Input</td>
          <td class="input" style="width:80%;"><pre class="code"><%#= questions[id.charCodeAt(0)-65].inputs[i]  %></pre></td>
        </tr>
        <tr>
          <td style="width:20%;">Output</td>
          <td class="output" style="width:80%;"><pre class="code">User's Output Comes Here</pre></td>
        </tr>
        <tr>
          <td style="width:20%;">Expected</td>
          <td class="expected" style="width:80%;"><pre class="code"><%#= questions[id.charCodeAt(0)-65].outputs[i]  %></pre></td>
        </tr>

      </table>
    </div>
<%# } %> -->
<!-- <%# var test = 454; %> -->
<script>
// NO USE OF THIS!! NO USE OF THIS!! NO USE OF THIS!! NO USE OF THIS!! NO USE OF THIS!! NO USE OF THIS!!
  // var userId = '<%# user.id %>';
  // var sampleOutput = `<%# questions[id.charCodeAt(0)-65].sampleOutput %>`;
  // var outputs = `<%# questions[id.charCodeAt(0)-65].outputs %>`;
  // var sampleInput = `<%# questions[id.charCodeAt(0)-65].sampleInput %>`;
  //console.log(sO);
  // var sampleOutput = "sss";
</script>






    </div>
</div>
<!-- left-col-body-test-results -->

                </div>

                <div class="col-md-6" id="right-col">
                      <div class="row" id="right-col-header">
                          <div class="col-md-5">

                            <!-- <span class=".glyphicon-glyphicon-credit-card" aria-hidden="true"></span> -->
                            <% if(lang!=""){ %>
                              Code.<%= lang%>
                            <% }else{ %>
                              Code.txt
                            <% } %>
                          </div>
                          <div class="col-md-4">
                            <select id="languageSelector" onchange="changeLanguage(this)" name="lang" required="required" class="form-control languageSelector">
                            <% if(lang==""){ %>
                                <option value="-1" lang="" selected="selected" >Select a Language </option>
                            <% } %>
                                <option value="1" lang="c" <% if(lang=="c"){ %> selected="selected" <% } %> >C </option>
                                <option value="2" lang="cpp" <% if(lang=="cpp"){ %> selected="selected" <% } %> >C++ </option>
                                <!-- <option value="9">C# </option> -->
                                <option value="3" lang="java" <% if(lang=="java"){ %> selected="selected" <% } %> >Java</option>
                                <!-- <option value="20" lang="javascript" <% if(lang=="javascript"){ %> selected="selected" <% } %> >Javascript </option> -->
                                <!-- <option value="5">Python </option> -->
                            </select>
                          </div>
                          <div class="col-md-1"><button id="saveButton" type = "button" class = "btn btn-info"  data-toggle="tooltip" data-placement="bottom" title="Ctrl+S">Save</button></div>
                          <div class="col-md-2"><button id="resetButton" type = "button" class = "btn btn-info">Reset</button></div>
                      </div>
                      <div class="row" id="editor"><% if(user.savedCodes[difficulty].findIndex( q => q.id==id && q.language==lang ) != -1 ){ %><%= user.savedCodes[difficulty].find( q => q.id==id && q.language==lang )['code'] %><% }else if(lang=='cpp'){ %>#include&lt;iostream&gt;
using namespace std;

int main()
{
    // cout << "Hello from C++";
    return 0;
}<% } else if(lang=='java'){ %>class Code
{
    public static void main( String args[] )
    {
        // System.out.println("Hello from Java");
    }
}<% } else if(lang=='c'){ %>#include&lt;stdio.h&gt;

int main()
{
    // printf("Hello from C");
    return 0;
}<% } else { %> // Please Select a Language.<% } %></div>
                      <div class="row" id="right-col-sub-header">
                        <div class="col-md-12">Input</div>
                        <!-- <div class="col-md-6">Output</div> -->
                      </div>
                      <div class="row" id="editor2"></div>
                </div>
            </div>

            <!-- FOOTER -->
            <div class="row" id="footer">
                <div class="col-md-2">
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#correctModal">Correct</button> -->
                </div>
                <div class="col-md-2">
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#wrongModal">Wrong</button> -->
                </div>
                <div class="col-md-2">
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#compileModal">Open Modal</button> -->
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#duplicateModal">Open Modal</button> -->
                </div>
                <div class="col-md-4">
                  <div class="radio">
                    <label class="radioLabel">
                      <input id="customInputs" type="checkbox" name="optradio" class="radioButton">
                      Run againt custom input
                    </label>
                  </div>
                </div>
                <div class="col-md-1">
                  <button id="runButton" type = "button" class = "btn btn-info">RUN</button>
                </div>
                <div class="col-md-1">
                  <button id="submitButton" type = "button" class = "btn btn-success"  data-toggle="tooltip" data-placement="top" title="Ctrl+Enter">SUBMIT</button>
                </div>
            </div>


            <!-- correctModal -->
            <div class="modal fade" id="correctModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">✓ Correct Answer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>Congratulations, you solved this challenge!</p>
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Previous</button> -->
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Next</button> -->
                    <% if( 0 < index && index < questions.length-1 ){ %>  <!--EASY Next,Previous-->
                      <button type="button" class="btn btn-default" onclick="window.location = '../<%= questions[index-1].id %>/<%= lang %>'" >Previous</button>
                      <button type="button" class="btn btn-default" onclick="window.location = '../<%= questions[index+1].id %>/<%= lang %>'" >Next</button>
                    <% }else if( index == questions.length-1 ){ %> <!--Next-->
                      <button type="button" class="btn btn-default" onclick="window.location = '../<%= questions[index-1].id %>/<%= lang %>'" >Previous</button>
                      <button type="button" class="btn btn-default" onclick="window.location = '../../<%= ['easy','medium','hard','hard'][['easy','medium','hard'].indexOf(difficulty) + 1] %>'" >Next</button>
                    <% }else if( index == 0 ){ %> <!--Previous-->
                      <button type="button" class="btn btn-default" onclick="window.location = '../../<%= ['hard','medium','easy','easy'][['hard','medium','easy'].indexOf(difficulty) + 1] %>'" >Previous</button>
                      <button type="button" class="btn btn-default" onclick="window.location = '../<%= questions[index+1].id %>/<%= lang %>'" >Next</button>
                    <% } %>
                  </div>
                </div>

              </div>
            </div>
            <!-- correctModal -->

            <!-- wrongModal -->
            <div class="modal fade" id="wrongModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">✘ Wrong Answer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <!-- <p>You’ve made a mistake.</p> -->
                    <p>Your Output doesn't matches the Expected Output.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Try Again</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- wrongModal -->

            <!-- compileModal -->
            <div class="modal fade" id="compileModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Compilation Error</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>There is an error in your code, Refractor your code.</p>
                    <pre class="code"></pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Refractor & Try Again</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- compileModal -->

            <!-- duplicateModal -->
            <div class="modal fade" id="duplicateModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Solution Already Submitted</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>You have already submitted a solution to this challenge.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Try Another Challenge</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- duplicateModal -->

            <!-- contestEndedModal -->
            <div class="modal fade" id="contestEndedModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Competition Ended</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p>Competition has ended, check results now.</p>
                    <p>(You will be automatically redirected in 5 seconds)</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Results</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- contestEndedModal -->

            <!-- timeoutModal -->
            <div class="modal fade" id="timeoutModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"> Oops, The connection timed-out...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <!-- <p>You’ve made a mistake.</p> -->
                    <!-- <p>The connection timed-out, please try again.</p> -->
                    <p>Process was terminated. It took longer than 30000ms to complete.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Try Again</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- timeoutModal -->

            <!-- unexpectedModal -->
            <div class="modal fade" id="unexpectedModal" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"> Oops, something went wrong...</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <!-- <p>You’ve made a mistake.</p> -->
                    <!-- <p>The connection timed-out, please try again.</p> -->
                    <p>Please save your code; reload and try again.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Try Again</button>
                  </div>
                </div>

              </div>
            </div>
            <!-- unexpectedModal -->

            <div id="snackbar">CODE SAVED</div>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <script src="/javascripts/jquery-3.2.1.min.js"></script>
        <!-- <script src="/javascripts/bootstrap.min.js"></script> -->
        <script src="/javascripts/bootstrap.bundle.js"></script>
        <script src="/javascripts/tester.js"></script>
        <script src='/javascripts/nprogress.js'></script>
        <script src='/javascripts/timer.js'></script>
        <script src='/javascripts/description.js'></script>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"> -->
        <link rel="stylesheet" href="/stylesheets/editor2.css">
        <script src="/javascripts/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src='/javascripts/live.js'></script>
        <script src='/javascripts/editor.js'></script>

        <script>


            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");

            <% if(lang=="javascript") { %>
            editor.session.setMode("ace/mode/javascript");
            <% } else if(lang=="c") {%>
            editor.session.setMode("ace/mode/c_cpp");
            <% } else if(lang=="cpp") {%>
            editor.session.setMode("ace/mode/c_cpp");
            <% } else if(lang=="java") {%>
            editor.session.setMode("ace/mode/c_cpp");
            <% } else { %>
            editor.session.setMode("ace/mode/plain_text");
            <% } %>
            // var code = "ace/mode/"+ langCode ;
            // alert(code);
            // editor.session.setMode(code);
            editor.setShowPrintMargin(false);
            document.getElementById('editor').style.fontSize='15px';

            // editor.commands.addCommand({
            //     name: 'myCommand',
            //     bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
            //     exec: function(editor) {
            //         alert("Command");
            //     },
            //     readOnly: true // false if this command should not apply in readOnly mode
            // });

            // document.getElementById('editor').style.fontSize='15px';

            var editor2 = ace.edit("editor2");
            editor2.setTheme("ace/theme/twilight");
            editor2.session.setMode("ace/mode/plain_text");
            editor2.setShowPrintMargin(false);
            // editor2.renderer.setShowGutter(false);
            document.getElementById('editor2').style.fontSize='15px';

            // var editor3 = ace.edit("editor3");
            // editor3.setTheme("ace/theme/twilight");
            // editor3.session.setMode("ace/mode/plain_text");
            // // editor3.renderer.setShowGutter(false);
            // editor3.setReadOnly(true);
            // document.getElementById('editor3').style.fontSize='13px';

        </script>
    </body>
</html>
